form{
    height: 600px;
    width: 370px;
    padding: 40px;
    margin-top: 10px;
    border: solid 4px black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}